**/bin/
**/obj/
**/.vs/
**/node_modules/
**/*.user
**/*.suo
**/Logs/
**/Backups/
**/.idea/
**/.git/
**/.gitignore
**/.env
**/.env.*
**/TestResults/
**/coverage/
**/coverage-final/
**/Docs/
**/Scripts/
**/Installer/
*.md
